<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>StudentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminView</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/StudentView</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SaveData</servlet-name>
        <servlet-class>SaveData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminView</servlet-name>
        <servlet-class>AdminView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentView</servlet-name>
        <servlet-class>StudentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDAO</servlet-name>
        <servlet-class>StudentDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit1</servlet-name>
        <servlet-class>Edit1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit2</servlet-name>
        <servlet-class>Edit2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveData</servlet-name>
        <url-pattern>/SaveData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminView</servlet-name>
        <url-pattern>/AdminView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentView</servlet-name>
        <url-pattern>/StudentView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDAO</servlet-name>
        <url-pattern>/StudentDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit1</servlet-name>
        <url-pattern>/Edit1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit2</servlet-name>
        <url-pattern>/Edit2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
